.chatInput {
  width: 92%;
  position: absolute;
  bottom: 2rem;
}
.messageBox {
  margin-left: 1rem;
  margin-top: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 75%;
  overflow-y: auto;
}
.plusIcon {
  transition: background-color 0.2s;
  border-radius: 15px;
}
.plusIcon:hover {
  background-color: rgb(237, 235, 235);
}
.sendBtn {
  box-sizing: border-box !important;
  width: 8%;
}
